<header class="sticky">
  <nav class="header-nav pt-3">
    <div class="flex justify-center mb-3 w-full relative">
      <a class="text-4xl" href="#">BUS MANAGEMENT SYSTEM</a>
      <form action="/login/logout" method="GET">
        <button type="submit" class="absolute right-0 top-1">
          <img src="../images/logout_white_36dp.svg" alt="logout" />
        </button>
      </form>
    </div>

    <ul class="w-full flex justify-center">
      <li><a href="/transacts/add">Book Tickets</a></li>
      <li><a href="/transacts">Show bookings</a></li>
      <li><a href="/buses">Buses</a></li>
      <li><a href="/drivers">Drivers</a></li>
      <li><a href="/conductors">Conductors</a></li>
      <li><a href="/passangers">Passengers</a></li>
    </ul>
  </nav>
</header>
