<header>
  <nav class="header-nav">
    <a class="header-title" href="#">Bus Management System</a>
    <a class="logout" href="/login/admin">Log Out</a>
    <ul>
      <li><a href="/drivers">Drivers</a></li>
      <li><a href="/drivers/add">Add Driver</a></li>
      <li><a href="/conductors">Conductors</a></li>
      <li><a href="/conductors/add">Add Conductor</a></li>
      <li><a href="/buses">Buses</a></li>
      <li><a href="/buses/add">Add Bus</a></li>
      <li><a href="/passangers">Passangers</a></li>
      <li><a href="/passangers/add">Add Passanger</a></li>
    </ul>
  </nav>
</header>