<div class="inner-container flex flex-col items-center">
  <h1 class="text-4xl my-4">BUS MANAGEMENT SYSTEM PORTAL</h1>
  <%- include('./partials/errorMessage.ejs') %> <%-
  include('./partials/greeting.ejs') %>
 

  <img class="h-60 mt-10" src="/images/bus.svg" alt="" />
  <a class="btn btn-primary mt-10" href="/login/admin">Admin Login</a>
  
</div>
