<div class="inner-container flex items-center flex-col">
  <h1 class="text-4xl my-4">BUS MANAGEMENT SYSTEM PORTAL</h1>
  <%- include('../partials/errorMessage.ejs') %> <%-
  include('../partials/greeting.ejs') %>
  <div class="row">
    <form action="/login/admin" method="POST">
      <div class="mt-24">
        <div class="form-item2">
          <label>Name</label>
          <input type="text" name="name" required />
        </div>
        <div class="form-item2">
          <label>Password</label>
          <input type="password" name="password" required />
        </div>
      </div>
      <div class="flex justify-center mt-4">
        <button class="btn btn-primary" type="submit">
          <img src="../images/login_black_36dp.svg" alt="login" />
        </button>
      </div>
    </form>
  </div>
</div>
