<h1>Login Screen</h1>
<div class="inner-container">
    <div class="row">
        <h3>Conductor Login</h3>
        <form action="/conductor/login" method="POST">
            <div class="form-row">
                <div class="form-item">
                  <label>Name</label>
                  <input type="text" name="name">
                </div>
                <div class="form-item">
                    <label>Password</label>
                    <input type="password" name="password">
                  </div>
            </div>
            <button class="btn btn-primary" type="submit">Login</button>
        </form>
    </div>
</div>
