.details {
  display: flex;
}

.details-label {
  font-size: 1.2rem;
  font-weight: 500;
  align-self: flex-start;
}

.details-grid {
  display: grid;
  align-content: flex-start;
  align-items: center;
  grid-gap: 1rem;
  grid-template-columns: auto auto;
}

.details-btn-grid {
  display: grid;
  justify-items: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  grid-template-areas:
    "edit delete"
    "link link";
  grid-gap: .5rem;
  margin-top: .5rem;
}
