<%- include('../partials/header.ejs') %>
<div class="inner-container">
  <%- include('../partials/errorMessage.ejs') %>
  <%- include('../partials/greeting.ejs') %>
   
  <h2 class="page-header">New Passanger</h2>
  <form action="/passangers/add" method="POST">
    <div class="form-row">
      <div class="form-item">
        <label>Name</label>
        <input type="text" name="name">
      </div>
    </div>
    
    <div class="form-row form-row-end btn-row">
      <a class="btn btn-danger" href="/">
        <img src="../images/highlight_off_black_36dp.svg" alt="cancel" />
      </a>
      <button class="btn btn-primary" type="submit">
        <img src="../images/published_with_changes_black_36dp.svg" alt="create" />
      </button>
    </div>
  </form>

</div>